@page "/all"
@inherits AllTodoBase

@if (!ListsOfTodos.Any())
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>
        All
        <small>(@NumberOfIncompletedTodos todo not completed)</small>
    </h2>

    @foreach (var todoList in ListsOfTodos)
    { 
        <TodosTable ListId="todoList.Id" OnUpdated="GetNumberOfIncompetedTodos"></TodosTable>
    }
}



