@page "/all"
@inherits AllTodoBase

@if (!TodoListsIds.Any())
{
    <div class="d-flex align-items-center text-secondary">
        <strong>Loading...</strong>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </div>
}
else
{
    <h2>
        All lists of todos
        <small>(All incompleted todos: @NumberOfAllIncompletedTodos)</small>
    </h2>

    @foreach (var todoListId in TodoListsIds)
    { 
        <TodosTable ListId="todoListId" OnUpdated="async () => await TodoListsService.GetNumberOfAllIncompletedTodosAsync()"></TodosTable>
    }
}