@page "/all"
@inherits AllTodoBase

@if (!TodoListsIds.Any())
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>
        All lists of todos
    </h2>

    @foreach (var todoListId in TodoListsIds)
    { 
        <TodosTable ListId="todoListId"></TodosTable>
    }
}



