@page "/all"
@inherits AllTodoBase

@if (!TodoListsIds.Any())
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>
        All lists of todos
        <small>(All incompleted todos: @NumberOfAllIncompletedTodos)</small>
    </h2>

    @foreach (var todoListId in TodoListsIds)
    { 
        <TodosTable ListId="todoListId" OnUpdated="async () => await LoadNumberOfAllIncompletedTodos()"></TodosTable>
    }
}



