@page "/"
@using Microsoft.AspNetCore.Authorization
@using TodoList.Client.Services
@attribute [Authorize]
@inject AppStateContainer AppState
@inject ITodoListsService TodoListsService
@inject IUsersService UsersService
@inject IAuthenticationService AuthenticationService

<div class="card text-center mt-4">
    @if (_loading)
    {
        <div class="spinner-border spinner-border-sm"></div>
    }
    else
    {
        <h4 class="card-header text-white" style="background: #052767;">Welcome @_userName!</h4>
        <div class="card-body text-center">
            <h4>You have @_numberOfAllIncompletedTodos undone todos</h4>
        </div>
    }

</div>

@code {

    private bool _loading;
    private string _userName;
    private int _numberOfAllIncompletedTodos;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        _userName = AuthenticationService.User.Username;
        _numberOfAllIncompletedTodos = await TodoListsService.GetNumberOfAllIncompletedTodosAsync();
        _loading = false;
    }
}