@page "/list/{Id:int}"
@inherits ListOfTodosBase

@if (ListOfTodos != null)
{
    <h2>
        @ListOfTodos.Title
        <small>(@NumberOfIncompletedTodos todo not completed)</small>
    </h2>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Is done</th>
        </tr>

        @foreach (var todo in ListOfTodos.Todos)
        {
            <tr>
                <td>@todo.Id</td>
                <td>@todo.Title</td>
                <td>@todo.Description</td>
                <td>
                    <input type="checkbox" @bind="todo.IsDone" /> @*Have to implement update in db after checkbox change*@
                </td>
            </tr>
        }
    </table>
}

else if (LoadFailed)
{

    <h2>List doesn't exists. Do you want to create new list?</h2>
    <button class="btn btn-primary" @onclick="NavigateToNewListComponent">New list</button>
}

else
{
    <p><em>Loading...</em></p>
}
