@using TodoList.Client.Services
@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService

<div class="page">
    @if (AuthenticationService.User != null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <div class="main">
        @if (AuthenticationService.User != null)
        {
            <div class="top-row px-4">
                <a href="https://github.com/TomWia9/TodoList" target="_blank" class="ml-md-auto">Visit the repository on Github</a>
            </div>
        }

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>