@using TodoList.Client.Services
@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<div class="page">
    @if (AuthenticationService.User != null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <div class="main">
        @if (AuthenticationService.User != null)
        {
            <div class="top-row px-4">
                @*<a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>*@
                <NavLink href="logout" class="nav-item nav-link">Logout</NavLink>
            </div>
        }

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
