@inherits NewTodoBase

<EditForm Model="@TodoForCreation" OnValidSubmit="@(async () => await CreateTodo())">
    <DataAnnotationsValidator />

    <div class="d-flex form-group">
        <InputText @bind-Value="TodoForCreation.Title" class="form-control mr-2 bg-dark text-white" placeholder="Add task" />
        <button class="btn btn-primary" type="submit">Add</button>
    </div>
    <ValidationMessage For="@(() => TodoForCreation.Title)" />


</EditForm>

@if (TodoAlreadyExists)
{
    <p class="text-danger">Todo with this title already exists in this list</p>
}
else if (CreationFailed == true)
{
    <p class="text-danger">Something went wrong, try again later</p>
}
else if (CreationFailed == false)
{
    <p class="text-success">Successfully added</p>
}